* {
    margin: 0%;
    padding: 0%;
}

.input-div {
    margin-left: 1px;
    display: flex;
    flex-direction: row;
    /* padding: 1px; */
    margin-bottom: 10px;
}

.event {
    width: 50%;
}

.date-time {
    width: 21.6%;
    text-align: center;
}

.s-n {
    background-color:rgb(209, 205, 205);
}

input {
    /* border: none; */
    list-style: 11px;
    height: 3vh;
    font-size: 18px;
}